---
import { supabase } from "@/lib/supabase";
import { formatDate, formatMoney } from "@/lib/formatter";
import { getTransactions } from "@/services/transaction.service";

interface Transaction {
  id: string;
  description: string;
  observation: string;
  date: string;
  cost: number;
  money: string;
}
const currentDate = new Date();
const startDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
const endDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);


const { data, error } = await getTransactions(startDate.toISOString(), endDate.toISOString());

---

<section class="h-full overflow-hidden">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-white text-4xl font-medium mb-3">Transactions</h2>
  </div>

  <div class="space-y-4 max-h-[75dvh] overflow-y-auto scrollbar-hide pb-14">
    {data?.map((transaction: Transaction) => (
      <div class="bg-white/5 rounded-2xl p-4">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
              <img src={`logos/${transaction.money}.svg`} alt={transaction.money} class="w-6 h-6" />
            </div>
            <div>
              <p class="text-sm text-gray-400 capitalize">{transaction.description} {transaction.observation}</p>
              <h3 class="text-white font-medium text-xl">{formatDate(transaction.date)}</h3>
            </div>
          </div>
          <span class="text-white font-medium">{formatMoney(transaction.cost, transaction.money)}</span>
        </div>
      </div>
    ))}
  </div>
</section> 