---
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import UserAvatar from "@/components/UserAvatar.astro";
import MoneySelector from "@/components/MoneySelector.astro";
import { getBalance } from "@/services/balance.service";
import type { MoneyTypes } from "@/model/money-types.enum";
import { getEndOfMonth, getStartOfMonth } from "@/lib/date";
import { getTransactions } from "@/services/transaction.service";
import { getExpenseCategories } from "@/services/admin.service";
import DistributionOverview from "@/sections/DistributionOverview.astro";
import MonthlyComparison from "@/sections/MontlyComparison.astro";
import LineChart from "@/components/LineChart.astro";

const moneyType = Astro.cookies.get("money")?.value as MoneyTypes;

const startDate = getStartOfMonth().toISOString();
const endDate = getEndOfMonth().toISOString();
const lastMonthStartDate = getStartOfMonth(1).toISOString();
const lastMonthEndDate = getEndOfMonth(1).toISOString();
const beforeLastMonthStartDate = getStartOfMonth(2).toISOString();
const beforeLastMonthEndDate = getEndOfMonth(2).toISOString();
const allMonthStartDate = getStartOfMonth(6).toISOString();
const allMonthEndDate = getEndOfMonth(3).toISOString();

const [
  categoriesData,
  distributionData,
  currentMonthTransactionsData,
  lastMonthTransactionsData,
  beforeLastMonthTransactionsData,
  allTransactionData,
] = await Promise.all([
  getExpenseCategories(),
  getBalance(startDate, endDate, moneyType),
  getTransactions(startDate, endDate, moneyType),
  getTransactions(lastMonthStartDate, lastMonthEndDate, moneyType),
  getTransactions(beforeLastMonthStartDate, beforeLastMonthEndDate, moneyType),
  getTransactions(allMonthStartDate, allMonthEndDate, moneyType),
]);

const { data: categories, error: categoriesError } = categoriesData;

const { data: distribution, error: distributionError } = distributionData;

const { data: currentMonthTransactions, error: currentMonthTransactionsError } =
  currentMonthTransactionsData;

const { data: lastMonthTransactions, error: lastMonthTransactionsError } =
  lastMonthTransactionsData;

const {
  data: beforeLastMonthTransactions,
  error: beforeLastMonthTransactionsError,
} = beforeLastMonthTransactionsData;

const { data: allTransactions, error: allTransactionsError } =
  allTransactionData;

if (
  categoriesError ||
  distributionError ||
  currentMonthTransactionsError ||
  lastMonthTransactionsError ||
  beforeLastMonthTransactionsError
) {
  console.error(
    categoriesError ||
      distributionError ||
      currentMonthTransactionsError ||
      lastMonthTransactionsError ||
      beforeLastMonthTransactionsError
  );
}

const allTransactionsGroupByMonth = allTransactions
  ?.sort((a, b) => {
    return new Date(a.date).getTime() - new Date(b.date).getTime();
  })
  .reduce((acc: Map<string, number>, trans) => {
    const date = new Date(trans.date).toLocaleString("es-ES", {
      month: "short",
    });
    const value = acc.get(date) || 0;

    acc.set(date, value + trans.cost);

    return acc;
  }, new Map<string, number>());

const sumTransactions = (transactions: any): number => {
  return (
    transactions?.reduce((acc: number, trans: any) => acc + trans.cost, 0) || 0
  );
};
const newdata = Array.from(allTransactionsGroupByMonth?.entries() || []).map(
  ([key, value]) => {
    return {
      value,
      label: key,
    };
  }
);

const lineChartData = [
  ...newdata,
  {
    value: sumTransactions(beforeLastMonthTransactions),
    label: new Date(
      new Date().setMonth(new Date().getMonth() - 2)
    ).toLocaleString("es-ES", { month: "short" }),
  },
  {
    value: sumTransactions(lastMonthTransactions),
    label: new Date(
      new Date().setMonth(new Date().getMonth() - 1)
    ).toLocaleString("es-ES", { month: "short" }),
  },
  {
    value: sumTransactions(currentMonthTransactions),
    label: new Date().toLocaleString("es-ES", { month: "short" }),
  },
];
---

<DashboardLayout title="Analytics | Finance Tracker">
  <div class="h-full">
    <div class="container mx-auto">
      <!-- Header -->
      <header class="flex items-center justify-between px-4 py-6">
        <div class="flex items-center gap-3">
          <UserAvatar transition:name="user-avatar" />
        </div>
      </header>

      <div class="flex w-full items-center justify-between px-4">
        <h2 class="mb-0 text-4xl font-medium text-white">Analytics</h2>
        <MoneySelector />
      </div>

      <div class="scrollbar-hide max-h-[85dvh] space-y-4 overflow-y-auto pb-14">
        <DistributionOverview distribution={distribution} />

        <MonthlyComparison
          currentMonthTransactions={currentMonthTransactions}
          lastMonthTransactions={lastMonthTransactions}
          beforeLastMonthTransactions={beforeLastMonthTransactions}
          categories={categories}
        />

        <article class="bg-navy-800 rounded-lg p-4 shadow-lg">
          <h2 class="mb-6 text-xl text-white">Monthly Expense Trend</h2>
          <div
            class="flex justify-center rounded-md border border-white/10 bg-transparent bg-gradient-to-br p-4 text-white shadow-2xl shadow-white/5 backdrop-blur-3xl"
          >
            <LineChart data={lineChartData} width={420} height={300} />
          </div>
        </article>
      </div>
    </div>
  </div>
</DashboardLayout>
